{% extends 'template/base.html' %}
{% block body %}
{{ parent() }}
<section>
    <div class="container">
    <div class="row">
       <div class="col s12">
    <h1 class="center-align">{{ name }}</h1>
    <img class="responsive-img" src="img/success06.jpg">
       </div> 
    </div>
        <div class="row">
            <div class="col s12 m6">
                <a class="center-align" href="index.php">Ir al inicio</a>
            </div>
            <div class="col s12 m6">
                <a href="http://www.freepik.es/fotos-vectores-gratis/ordenador">Vector de Ordenador diseñado por Freepik</a>
            </div>
        </div>
    </div>

    
</section>
{% endblock%}
{% block javascriptslast %}
	<script type="text/javascript" src="js/controllerIndex.js"></script>
{% endblock %}