<!-- Autor: Jesús de Serdio -->
<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Mi Web de Proyecto</h5>
            <p class="grey-text text-lighten-4">Proyecto desarrollado en HTML5, PHP, JQuery, Twig y Materialize.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Enlaces</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="index.php">Inicio</a></li>
                <li><a class="grey-text text-lighten-3" href="php.php">PHP</a></li>
                <li><a class="grey-text text-lighten-3" href="java.php">Java</a></li>
                <li><a class="grey-text text-lighten-3" href="android.php">Android</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2016 Copyright Jesús de Serdio
        <a class="grey-text text-lighten-4 right" href="www.jspsoluciones.es">JSP Soluciones</a>
    </div>
</div>